body {
    background-image: url(./png/background.png);
    padding: 0 202px 0 197px;
    background-repeat: no-repeat;
    height: 1639px;
}

.header {
    display: flex;
    color: #fff;
    justify-content: space-between;
    height: 91px;
    align-items: center;
    font-weight: var(--font-700--);
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.menu {
    cursor: pointer;
    display: flex;
    padding: 0 200px 0 83px;
    justify-content: space-around;
    gap: 20px;
}

.header__menu-item {
    color: #fff;
}

.btns {
    display: flex;
    justify-content: space-around;
    gap: 45px;
    cursor: pointer;
}

.login {
    outline: none;
    border: 0;
    background: transparent;
    color: #fff;
    font-weight: var(--font-700--);
}

.participate {
    background-color: var(--bg-primary-color--);
    width: 214px;
    height: 52px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: var(--font-700--);
}

.main__section {
    color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title {
    height: 240px;
    width: 542px;
    margin: 0 auto;
    font-size: 58px;
    font-weight: var(--font-700--);
    line-height: 80px;
    text-align: center;
    padding: 60px 0 40px 0;
}

.subtitle {
    font-size: 20px;
    font-weight: var(--font-400--);
    line-height: 30px;
    text-align: center;
    width: 530px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    font-style: normal;
    padding-bottom: 123px;
}

.join {
    width: 133px;
    height: 52px;
    border-radius: 5px;
    background-color: var(--bg-primary-color--);
    margin: 0 auto;
    border: 0;
    cursor: pointer;
    color: #fff;
}

.join:active , .participate:active , .btn-subscribe:active{
    background-color: #146adb;
}

.info__section {
    position: absolute;
}

.cards {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    width: 1046px;
}

.card__info {
    width: 328px;
    height: 292px;
    background-color: #fff;
    color: var(--main-text-color--);
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.card__inside-padding {
    padding:35px 40px 35px 40px;
}
.card__info-title {
    font-weight: var(--font-700--);
    font-size: 16px;
    line-height: 24px;
    padding-top:20px;
    padding-bottom: 20px;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #E74040;
}

.card__info-subtitle {
    color: var(--second-text-color--);
    font-weight: var(--font-400--);
    padding-top: 20px;
}

.logIn {
    padding:129px 160px 75px 160px;
    position: relative;
}

.email {
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    height: 20px;
    width: 600px;
    padding: 15px 0 15px 20px;
}

.btn-subscribe {
    height: 52px;
    width: 117px;
    border-radius: 0 5px 5px 0;
    outline: none;
    border: 0;
    background: transparent;
    background-color: var(--bg-primary-color--);
    position: absolute;
}

.footer__menu {
    display: flex;
    padding-top: 750px;
    justify-content: space-between;
    width: 100%;

}

.item__title {
    font-weight: var(--font-700--);
    color: var(--main-text-color--);
    padding-bottom:10px ;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item__social {
    padding-top: 16px;
    display: flex;
    gap: 22px;
}

.item {
    font-weight: var(--font-700--);
    color: var(--second-text-color--);
}